body{
  background-color: #D6EFFC;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

img{
  height: 200px;
}

.logoimg{
  height: 60px;
  margin: 0 auto;
}

nav .nav-wrapper{
  background-color:#DF3D36;
}

ul {
  list-style-type: none;
}

footer{
  margin: 0 auto;
  color: white;
  background-color:#DF3D36;
  font-size: 14px;
}

.main-wrapper{
  background-color: white;
  margin: 0 29px;
}
.uploadbtn{
  background: transparent;
  position: absolute;
  top: 65%;
  left: 20%
}

.button{
  background-color:#DF3D36;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 10 20px;
  margin: 10px;
  border-radius: 10px;
}

.uploadzone{
  position: relative;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  background-color: #D8D8D8;
  border-radius: 5px;
  padding: 10px 10px;
}

#uploadicon{
  position: absolute;
  top: 42%;
  left: 42%;
}

.wrapper{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.goodApple, .badApple {
  font-family: 'Montserrat', sans-serif;
}

